# This example assumes the AQI plugin is Meteobridge Station 2.
PM2.5: [data2!3num-act.1:--] ug/m3
Instant AQI: [data2!0num-act.0:--]
EPA NowCast PM2.5: [data2!4num-act.1:--] ug/m3
EPA NowCast AQI: [data2!1num-act.0:--]
Plugin status (0=OK, 1=source, 2=RH, 3=config): [data2!5num-act.0:--]
Air Quality: #if#{*[data2!2num-act:-1]==0*}#then#GREEN - GOOD#else##fi##if#{*[data2!2num-act:-1]==1*}#then#YELLOW - MODERATE#else##fi##if#{*[data2!2num-act:-1]==2*}#then#ORANGE - UNHEALTHY FOR SENSITIVE GROUPS#else##fi##if#{*[data2!2num-act:-1]==3*}#then#RED - UNHEALTHY#else##fi##if#{*[data2!2num-act:-1]==4*}#then#PURPLE - VERY UNHEALTHY#else##fi##if#{*[data2!2num-act:-1]==5*}#then#MAROON - HAZARDOUS#else##fi##if#{*[data2!2num-act:-1]<0*}#then#--#else##fi#
